# Scope Compliancy Model

## Input: 
generatedData 

## Known Unknowns:
known boundaries of generalizability of the data-driven mode


## Unknowns Unknowns:
novelty detection techniques and explicitly
addressing concept drift with active or passive means

In [31]:
import pandas as pd
from os.path import dirname

# absolute directory
d = os.path.dirname(os.getcwd())

# relative directory
file_path = "/test_dataset/data/generated_data.csv"

<function dirname at 0x10b76d7b8>
/Users/luciaeve/Documents/EMSE/KAISERSLAUTERN/THESIS/code/tsr_uncertainy_framework

In [33]:
df = pd.read_csv(d + file_path)
df.head()

,Unnamed: 0,Filename,Width,Height,Roi.X1,Roi.Y1,Roi.X2,Roi.Y2,ClassId,Latitude,Longitude,Altitude,Datetime,Speed,Coordinates,Elevation,Temperature
0,0,00243.ppm,39,39,6,5,34,34,0,54.480866,7.578818,NaN,1543329550,82.913075,"(54.48086620605899, 7.578818052368505)",0.0,17.486141
1,1,00252.ppm,51,52,6,6,46,47,0,51.493265,10.800412,NaN,1532410001,9.677593,"(51.49326514672695, 10.800412416212342)",174.0,23.833012
2,2,00403.ppm,43,44,5,5,38,39,0,46.945466,13.607162,NaN,1550659327,25.093418,"(46.94546628976531, 13.607161934739734)",1149.5,9.844090
3,3,00579.ppm,37,37,6,6,32,32,0,46.866749,11.330575,NaN,1547868759,69.967253,"(46.86674861109444, 11.330575373668069)",1740.5,-3.884125
4,4,00675.ppm,45,47,5,5,40,42,0,48.647362,12.823384,NaN,1541485821,53.391824,"(48.647361922152896, 12.823383786489417)",377.5,-11.383144